.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.items img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
}
.items h5 {
    font-size: 15px;
}

.add-item-modal {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.add-item-container {
    background-color: #fff;
    width: 40%;
    padding: 1rem;
}

.add-item-modal .add-item-content label {
    display: block;
}

.add-item-modal .add-item-content input[type='text'],  .add-item-modal .add-item-content textarea,
.add-item-modal .add-item-content input[type='number']  {
    display: block;
    width: 100%;
    padding: 0.6rem;
    border: 1px solid var(--gray-400);
    border-radius: 5px;
}
.add-item-modal .add-item-content select {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid var(--gray-400);
    border-radius: 5px;
}


.create-product .add-item-content label {
    display: block;
}

.create-product .add-item-content input[type='text'],  .create-product .add-item-content textarea,
.create-product .add-item-content input[type='number']  {
    display: block;
    width: 100%;
    padding: 0.6rem;
    border: 1px solid var(--gray-400);
    border-radius: 5px;
}
.create-product .add-item-content select {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid var(--gray-400);
    border-radius: 5px;
}

.add--item{
    background-color: var(--main-color);
    color: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 0.3rem;
}
.add--button {
    padding: 0.3rem;
    border: 1px solid var(--gray-400);
    border-radius: 5px;
    font-size: 0.8rem;
}
.loader {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.immagg {
    object-position: top;
    -o-object-position: top;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}
.feat__image img{
    object-position: top;
    -o-object-position: top;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}
.nav--item {
    background-color: var(--gray-300);
    margin-top: 1rem;
    padding: 0.6rem;
}

.add--benefit input {
    padding: 0.3rem;
    border: 1px solid var(--gray-400);
    border-radius: 5px;
    outline: none;
    
}

ol li {
    list-style: decimal;
    margin-left: 2rem;
}
span.unavailable {
    background-color: rgba(255, 0, 0, 0.2);
    color: rgba(255, 0, 0);
    padding: 0.3rem 0.5rem;
    border-radius: 3px;
}

span.available {
    background-color: rgb(4, 112, 4, 0.2);
    color: rgb(4, 112, 4);
    padding: 0.3rem 0.5rem;
    border-radius: 3px;
}

.btn--other {
    padding: 0.3rem 0.5rem;
    background-color:rgb(4, 112, 4) ;
    border: none;
    border-radius: 3px;
    color: #fff;
}
.btn--other2 {
    padding: 0.3rem 0.5rem;
    background-color:rgba(255, 0, 0) ;
    border: none;
    border-radius: 3px;
    color: #fff;
}

.product--image {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    object-position: top;
    object-fit: cover;
}

.featured--image {
    width: 100px;
    height: 100px;
    object-position: top;
    object-fit: cover;
    border-radius: 10px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}
.img-circle .span--user {
	height: 100px;
	width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
	border-radius: 100%;
	border: 5px solid #fff;
    margin: 0 auto;
}